Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 8 31 1536 801 138 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/E94071217/DT/DT.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 23903.648893
cursor 5500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 11

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/E94071217/DT/DT.fsdb"
addSignal -h 15 /testfixture/u_dut/clk
addSignal -h 15 -UNSIGNED -UDEC -holdScope cnt[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope res_addr[13:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope res_do[7:0]
addSignal -h 15 -holdScope res_wr
addSignal -h 15 -holdScope reset
addSignal -h 15 -UNSIGNED -UDEC -holdScope state_cs[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope state_ns[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope sti_addr[9:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope sti_di[15:0]
addSignal -h 15 -holdScope sti_rd
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/E94071217/DT/DT.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/testfixture"

SCOPE_LIST_BEGIN
"/testfixture"
"/testfixture/u_dut"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


